<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>LuxuryMusic</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% include 'header.html' %}
    <script type="text/javascript" src="/js/jplayer-2.9.2/add-on/jquery.jplayer.inspector.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% for article in articles %}
            {% if article.pistes is defined %}
            {% if article.pistes|length > 0 %}
            var myPlaylist_{{ article.refArticle }}= new jPlayerPlaylist({
                cssSelectorAncestor: '#jp_container_{{ article.refArticle }}',
                jPlayer: '#jquery_jplayer_{{ article.refArticle }}'
            }, [
                {% for piste in article.pistes %}
                {title: '{{ piste.titre }}', mp3: '{{ piste.url }}'},
                {% endfor %}
            ], {
                swfPath: '/js/jplayer-2.9.2/jplayer', supplied: 'mp3', wmode: 'window',
                useStateClassSkin: true, autoBlur: false, smoothPlayBar: true,
                keyEnabled: true
            });
            var jp_playlist_tab = document.getElementsByClassName('jp-playlist');
            for (i = 0; i < jp_playlist_tab.length; i++) {
                jp_playlist_tab[i].style.display = 'none';
            }

            $("#jquery_jplayer_{{ article.refArticle }}").bind($.jPlayer.event.play, function () {
                $("#jplayerInspector").jPlayerInspector({
                    jPlayer: $("#jquery_jplayer_{{ article.refArticle }}"),
                    visible: true
                });
            });
            {% endif %}
            {% endif %}
            {% endfor %}
        });
    </script>
</head>
<body>
<div id="wrapper">
    <div id="inner-wrapper">
        <header id="header" class="col-full">
            <div id="logo">
                <h1 class="site-title">Luxury<span style="color: darkred">Music</span></h1>
            </div>
        </header>
        <nav id="navigation" class="col-full" role="navigation">
            <ul id="main-nav" class="nav fl">
                <li id="menu-item-290"
                    class="menu-item menu-item-type-custom menu-item-object-custom ">
                    <a href="/afficheRecherche">Articles à la une</a>
                </li>
                <li id="menu-item-290"
                    class="menu-item menu-item-type-custom menu-item-object-custom d-flex justify-content-end">
                    <a href="/accederAuPanier">Panier</a>
                </li>
                <li id="menu-item-290" class="dropdown menu-item menu-item-type-custom menu-item-object-custom d-flex justify-content-end">
                    <a class=" dropdown-toggle" type="button" data-toggle="dropdown">
                        Catégorie
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/categorie_Musique">Musiques</a>
                        <a class="dropdown-item current-menu-item" href="/categorie_Livre">Livres</a>
                        <a class="dropdown-item" href="/categorie_Artiste">Artistes</a>
                        <a class="dropdown-item" href="/categorie_Auteur">Auteurs</a>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="container">
                        <div class="d-flex justify-content-end">
                            <div class="searchbar">
                                <input class="search_input" type="text" name="" placeholder="Search...">
                                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="content" class="site-content" tabindex="-1">
            <div class="col-full">
                <div class="primary" class="content-area">
                    <section id="mainCat" class="site-main" role="main">
                        <h1 class="page-title">Catégorie Livres</h1>
                        <ul class="products">
                            {% for article in articles %}
                            <li class="product type-product"><a
                                        href="/ajouterLigne?refArticle={{ article.refArticle }}"> <img
                                            src="{{ article.image }}"
                                            class="attachment-shop_catalog wp-post-image" alt="poster_2_up"
                                            height="300"/>
                                    <h3>{{ article.titre }}</h3> <span class="price"><ins>
													<span class="amount">{{ article.prix }} €</span>
												</ins></span>

                                </a> <a
                                        href="/ajouterLigne?refArticle={{ article.refArticle }}"
                                        class="button add_to_cart_button product_type_simple"><i class="fas fa-shopping-cart"></i></a>

                                {% if article.pistes is defined %}
                                    {% if article.pistes|length > 0 %}
                                        <div id="jquery_jplayer_{{ article.refArticle }}" class="jp-jplayer"></div>
                                        <div id="jp_container_{{ article.refArticle }}" class="jp-audio"
                                             role="application">
                                            <div class="jp-type-playlist">
                                                <div class="jp-gui jp-interface">
                                                    <div class="jp-controls-holder">
                                                        <div class="jp-controls">
                                                            <button class="jp-previous" role="button" tabindex="0">
                                                                previous
                                                            </button>
                                                            <button class="jp-play" role="button" tabindex="0">play
                                                            </button>
                                                            <button class="jp-stop" role="button" tabindex="0">stop
                                                            </button>
                                                            <button class="jp-next" role="button" tabindex="0">next
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="jp-playlist">
                                                    <ul>
                                                        <li>&nbsp;</li>
                                                    </ul>
                                                </div>
                                                <div class="jp-no-solution">
                                                    <span>Update Required</span> To play the media you will need to
                                                    either update your browser to a recent version or update your <a
                                                            href="http://get.adobe.com/flashplayer/" target="_blank">Flash
                                                        plugin</a>.
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
<div id="jplayerInspector"></div>
</body>
</html>
