<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8"/>
		<title>LuxuryMusic</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
				integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
				crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
				integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
				crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
				integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
				crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		{% include 'header.html' %}
    </head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper">
				<header id="header" class="col-full">
					<div id="logo">
						<h1 class="site-title">Luxury<span style="color: darkred">Music</span></h1>
					</div>
				</header>
				<nav id="navigation" class="col-full" role="navigation">
					<ul id="main-nav" class="nav fl">
						<li id="menu-item-290"
							class="menu-item menu-item-type-custom menu-item-object-custom">
							<a href="/afficheRecherche">Rechercher
								un article</a>
						</li>
						<li id="menu-item-290"
							class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item">
							<a href="/accederAuPanier">Panier</a>
						</li>
						<li id="menu-item-290" class="dropdown menu-item menu-item-type-custom menu-item-object-custom d-flex justify-content-end">
							<a class=" dropdown-toggle" type="button" data-toggle="dropdown">
								Catégorie
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/categorie_Musique">Musiques</a>
								<a class="dropdown-item" href="/categorie_Livre">Livres</a>
								<a class="dropdown-item" href="/categorie_Artiste">Artistes</a>
								<a class="dropdown-item" href="/categorie_Auteur">Auteurs</a>
							</div>
						</li>
					</ul>
				</nav>
				<div id="content" class="col-full">
					<div id="main-sidebar-container">
						<section class="entry">
							<div class="woocommerce">
								<form
									action="/recalculerPanier"
									name="panier" method="post">
									<table class="shop_table cart" cellspacing="0">
										<thead>
											<tr>
												<th class="product-remove"></th>
												<th class="product-thumbnail"></th>
												<th class="product-name">Produit</th>
												<th class="product-price">Prix</th>
												<th class="product-quantity">Quantité</th>
												<th class="product-subtotal">Total</th>
											</tr>
										</thead>
										<tbody>
										{% for lignePanier in panier.lignesPanier %}
											<tr class="cart_item">
												<td class="product-remove"><a class="remove"
													title="Remove this item"
													href="/supprimerLigne?refArticle={{ lignePanier.article.refArticle }}">×</a>
												</td>
												<td class="product-thumbnail"><img
													class="attachment-shop_thumbnail wp-post-image" width="145"
													height="145" alt="hoodie_4_front"
													src="{{ lignePanier.article.image }}"></td>
												<td class="product-name">{{ lignePanier.article.titre }}</td>
												<td class="product-price"><span class="amount">{{ lignePanier.prixUnitaire }}€</span></td>
												<td class="product-quantity">
													<div class="quantity">
														<input class="input-text qty text" type="number" size="4"
															title="Qty" value="{{ lignePanier.quantite }}"
															name="cart[{{ lignePanier.article.refArticle }}][qty]"
															min="1" step="1">
													</div>
												</td>
												<td class="product-subtotal"><span class="amount">{{ lignePanier.prixTotal }}€</span></td>
											</tr>
											{% endfor %}
											<tr>
												<td class="actions" colspan="6"><input class="button"
													type="submit" value="Mise à jour du panier" name="update_cart" /></td>
											</tr>
										</tbody>
									</table>
								</form>
								<div class="cart-collaterals">
									<div class="cross-sells"></div>
									<div class="cart_totals ">
										<h2>Total de la commande</h2>
										<table cellspacing="0">
											<tbody>
												<tr class="cart-subtotal">
													<th>Sous-total</th>
													<td><span class="amount">{{ panier.total }}€</span></td>
												</tr>
												<tr class="shipping">
													<th>Frais de port</th>
													<td>Gratuit</td>
												</tr>
												<tr class="order-total">
													<th>Total</th>
													<td><strong> <span class="amount">{{ panier.total }}€</span>
													</strong></td>
												</tr>
											</tbody>
										</table>
										<div class="wc-proceed-to-checkout">
											<a
												href="/commanderPanier"
												class="checkout-button button alt wc-forward">Effectuer la
												commande</a>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
        {% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>
