<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
        {% include 'header.html' %}
		<script type="text/javascript" src="/js/jplayer-2.9.2/add-on/jquery.jplayer.inspector.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function () { 
{% for article in articles %}
{% if article.pistes is defined %}
{% if article.pistes|length > 0 %}
					var myPlaylist_{{ article.refArticle }}= new jPlayerPlaylist({
					cssSelectorAncestor : '#jp_container_{{ article.refArticle }}',
					jPlayer: '#jquery_jplayer_{{ article.refArticle }}'}, [
					{% for piste in article.pistes %}
						{ title:'{{ piste.titre }}', mp3:'{{ piste.url }}' },
					{% endfor %}
					], { swfPath : '/js/jplayer-2.9.2/jplayer', supplied : 'mp3', wmode: 'window',
					useStateClassSkin: true, autoBlur: false, smoothPlayBar: true,
					keyEnabled: true });
					var jp_playlist_tab = document.getElementsByClassName('jp-playlist') ;
					for (i = 0; i < jp_playlist_tab.length; i++) {
						jp_playlist_tab[i].style.display = 'none';
					}

					$("#jquery_jplayer_{{ article.refArticle }}").bind($.jPlayer.event.play , function() {
						$("#jplayerInspector").jPlayerInspector( {
							jPlayer: $("#jquery_jplayer_{{ article.refArticle }}"),
							visible: true
						});
					});
{% endif %}
{% endif %}
{% endfor %}
			});
		</script>
    </head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper">
				<header id="header" class="col-full">
					<div id="logo">
						<h1 class="site-title">Site web marchand</h1>
					</div>
				</header>
				<nav id="navigation" class="col-full" role="navigation">
					<ul id="main-nav" class="nav fl">
						<li id="menu-item-290"
							class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item">
							<a href="/afficheRecherche">Rechercher
								un article</a>
						</li>
						<li id="menu-item-290"
							class="menu-item menu-item-type-custom menu-item-object-custom">
							<a href="/accederAuPanier">Panier</a>
						</li>
					</ul>
				</nav>
				<div id="content" class="site-content" tabindex="-1">
					<div class="col-full">
						<div class="primary" class="content-area">
							<section id="main" class="site-main" role="main">
								<h1 class="page-title">Résultats de la recherche</h1>
								<ul class="products">
									{% for article in articles %}
									<li class="product type-product"><a
										href="/ajouterLigne?refArticle={{ article.refArticle }}"> <img
											src="{{ article.image }}"
											class="attachment-shop_catalog wp-post-image" alt="poster_2_up"
											height="300"/>
											<h3>{{ article.titre }}</h3> <span class="price"><ins>
													<span class="amount">{{ article.prix }} €</span>
												</ins></span>

									</a> <a
										href="/ajouterLigne?refArticle={{ article.refArticle }}"
										class="button add_to_cart_button product_type_simple">Mettre
											dans le panier</a>

										{% if article.pistes is defined %}
											{% if article.pistes|length > 0 %}
										<div id="jquery_jplayer_{{ article.refArticle }}" class="jp-jplayer"></div>
										<div id="jp_container_{{ article.refArticle }}" class="jp-audio" role="application">
											<div class="jp-type-playlist">
												<div class="jp-gui jp-interface">
													<div class="jp-controls-holder">
														<div class="jp-controls">
															<button class="jp-previous" role="button" tabindex="0">previous</button>
															<button class="jp-play" role="button" tabindex="0">play</button>
															<button class="jp-stop" role="button" tabindex="0">stop</button>
															<button class="jp-next" role="button" tabindex="0">next</button>
														</div>
													</div>
												</div>
												<div class="jp-playlist">
													<ul>
														<li>&nbsp;</li>
													</ul>
												</div>
												<div class="jp-no-solution">
													<span>Update Required</span> To play the media you will need to
													either update your browser to a recent version or update your <a
														href="http://get.adobe.com/flashplayer/" target="_blank">Flash
														plugin</a>.
												</div>
											</div>
										</div> 
											{% endif %}
										{% endif %}
									{% endfor %}
								</ul>
							</section>
						</div>
					</div>
				</div>
        {% include 'footer.html' %}
			</div>
		</div>
		<div id="jplayerInspector"></div>
	</body>
</html>
